#aboutme {
	height: 100vh;
	background-color: rgba(25, 2, 2, 0.5);
	display: flex;
	overflow: hidden;
	justify-content: center;
	background-image: url('../img/UI.png');
	background-position: center center;
	background-size: 100%, 100%;
	position: relative;
}

#aboutmewrap {
	display: flex;
	justify-content: center;
	align-items: center;
}

.profilebgwrap {
	padding-left: 3px;
	padding-top: 5px;
	padding-right: 3px;
	padding-bottom: 5px;
	border: 2px #733600 solid;
	clip-path: polygon(0 15px, 15px 0, calc(100% - 15px) 0, 100% 15px, 100% calc(100% - 15px),
			calc(100% - 15px) 100%, 15px 100%, 0 calc(100% - 15px));
}

.profilebg {
	display: flex;
	padding-left: 2vw;
	padding-right: 2vw;
	padding-top: 5vw;
	padding-bottom: 2vw;
	background-color: rgba(59, 0, 0, 0.5);
	clip-path: polygon(0 5px, 5px 0, calc(100% - 5px) 0, 100% 5px, 100% calc(100% - 5px),
			calc(100% - 5px) 100%, 5px 100%, 0 calc(100% - 5px));
}

@media screen and (orientation: landscape) {
	.profilebgwrap {
		padding-left: 3px;
		padding-top: 5px;
		padding-right: 3px;
		padding-bottom: 5px;
	}

	.profilebg {
		padding-left: 4vh;
		padding-top: 5vh;
		padding-right: 4vh;
		padding-bottom: 5vh;
	}
}

.textbaseinfo {
	margin-left: 5px;
}

.cvtitlewrap {
	padding-left: 15px;
	border-left: 4px solid #F57300;
	margin-bottom: 5px;
}

.cvtitle {
	color: #e28800;
	font-family: EVADB;
	line-height: 15px;
}

.cvcontentwrap {
	padding-left: 15px;
	padding-right: 15px;
	border-left: 4px solid #F57300;
	border-right: 4px solid #F57300;
	margin-bottom: 5px;
}

.cvcontent {
	font-family: EVAUB;
	color: white;
	font-size: 20px;
	line-height: 25px;
	border: 3px solid #8C5200;
}

.name {
	font-size: 30px;
	line-height: 40px;
}

.mailtext {
	font-size: 16px;
}

#imgwrap {
	display: block;
	overflow: hidden;
	width: 140px;
	height: 180px
}

#imgwrap img {
	width: 150px;
	transform: translate(-8px, 0);
}

.baseinfo {
	display: flex;
}

.bigInfo {
	display: flex;
	margin-top: 15px;
}

.cvbigtitle {
	margin-bottom: 0;
	padding-left: 5px;
	padding-right: 5px;
	width: 56px;
	color: #F57300;
	font-size: 35px;
	font-family: EVAUD;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 2px;
}

.cvbitcontent {
	margin-bottom: 0;
	margin-left: 3px;
	font-family: EVAUB;
	font-size: 16px;
	color: #F57300;
	border-color: #7eca03;
	width: 268px;
}

.oneeducation div {
	line-height: 25px;
}

.oneeducation {
	margin: 5px;
}

.schollname {
	color: #7eca03;
	margin-bottom: 2px;
}

.gpa {
	margin-left: 6px;
	color: #bd7be8;
}

.major {
	margin-left: 6px;
	margin-bottom: 2px;
}

#hiddeninfo{
	margin-left: 2vw;
}

@media screen and (max-width:1020px) {
	#hiddeninfo {
		display: none;
	}
}

#otherinfo {
	display: flex;
	flex-direction: column;
	width: 50vw;
}

#addinfo {
	font-size: 26px;
	line-height: 35px;
	font-family: EVAUB;
	color: #ffad00;
}

.cvcontent p {
	line-height: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 16px;
}

.addinfobg {
	padding-left: 10px;
	padding-right: 10px;
}

.underline {
	text-decoration: underline;
}

#webpagecomment {
	margin: 0;
	margin-left: 7px;
	font-size: 13px;
}

.addinfobg {
	padding-top: 2vh;
	padding-bottom: 1vh;
}

.cvprojectwrap {
	margin-top: 0px;
}

.cvproject {
	padding-top: 3px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 3px;
}

#cvprojecttitle {
	color: black;
	background-color: #ff7800;
	border-radius: 2px;
	padding-left: 10px;
	margin-bottom: 10px;
	font-family: EVAUB;
	line-height: 18px;
	font-size: 15px;
}

#cvprojecttitle a {
	color: black;
	text-decoration: underline;
}

.cvprojectlink {
	font-size: 15px;
	line-height: 17px;
	padding-left: 5px;
	border-radius: 4px;
}

.cvprojectslinkswrap {
	padding-left: 15px;
	padding-right: 15px;
}

.cvprojectslinkswrap a:hover {
	color: black;
	text-decoration: underline;
}


.load {
	background: transparent;
	position: relative;
}

.load::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background-color: #a11818;
	width: 0%;
	height: 100%;
	transition: all 0.5s ease-in-out;
	z-index: -1;
}

.load:hover::before {
	width: 100%;
}

@media screen and (max-height: 500px) {
	.hiddenschool{
		display: none;
	}
}

#otherinfo .cvcontent{
	font-size: 18px;
	line-height: 20px;
}

#bigInfos{
	margin-top: 4vh;
}

#downloadCV{
	position: absolute;
	top: 5px;
	right: 20px;
	color: #7eca03;
	font-family: EVAUB;
}