@charset "utf-8";

@font-face{
    font-family: 'EVADB';
    src:url('../font/EVADB.otf');
}

@font-face{
    font-family: 'EVAUB';
    src:url('../font/EVAUB.otf');
}

a:link{
	text-decoration:none;
}
a:visited{
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
a:active{
	text-decoration:none;
}

html{
	scroll-snap-type: y mandatory;
}

body{
	margin: 0;
	overflow: scroll;
	overflow-x: hidden;
}

body::before {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../img/bg.png') no-repeat center top/100%;
    background-size: cover;
}

#profile{
	display: flex;
	justify-content: right;
	height: 100vh;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	/* margin-bottom: 20px; */
	align-items: flex-end;
	scroll-snap-align: start;
}

#aboutme{
	scroll-snap-align: start;
}

#projectClass{
	scroll-snap-align: start;
}

#profile::before {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../img/head.png') no-repeat;
    background-size: auto 115vh;
	background-position: center center;
}

nav{
	display: none;
	bottom: 20vh;
	left: 7vw;
	position: fixed;
	font-size: 40px;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: rgba(25, 2, 2, 0.5);
	border-left: 2px solid #fbae00;
	border-right: 2px solid #fbae00;
}

.navtitlewrap{
	border:2px solid #9d6900;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 4px
}

.navtitle{
	display: flex;
	align-items: center;
	background-color: rgba(47, 0, 0, 0.5);
	border: 1px solid #862100;
}

.navtitlein{
	width: 100%;
	border-image-source: radial-gradient(60% 60%, transparent 0px, transparent 100%, rgba(255,120,0,0.7) 100%);
	border-image-slice: 1;
	border-width: 1px;
	border-style: solid;
	padding-left: 20px;
	padding-right: 20px;
	margin: 3px;
	font-family: EVAUB;
	line-height: 55px;
	font-size: 30px;
}

nav h3{
	margin: 0;
	color: #a11818;
	text-align: center;
}

.navlinkwrap{
	border-left:3px solid #9d6900;
	border-right:3px solid #9d6900;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 8px;
	padding-right: 8px;
}

.navlink{
	display: flex;
	align-items: center;
	background-color: rgba(47, 0, 0, 0.5);
	border: 1px solid #862100;
	color: #fcab00;
}

.navlinkin{
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: #885b00;
	padding-left: 20px;
	padding-right: 20px;
	margin: 3px;
}

.navlinkin h4{
	margin: 0;
	font-family: EVAUB;
	line-height: 40px;
	font-size: 30px;
	position: relative;
}

.navlinkin p{
	margin: 0;
	font-size: 10px;
	line-height: 10px;
	margin-bottom: 3px;
	color: #83dc00;
	font-family: EVADB;
	position: relative;
}

.navlink:hover{
	display: flex;
	align-items: center;
	background-color: rgba(79, 26, 0, 0.8);
	border: 1px solid #862100;
	color: #fcab00;
	transform: scaleX(1.1);
}

.navlink:hover .scan {
    position: absolute;
    left: -25px;
    width: 120%;
    height: 3px;
    background: #2f0000;
    z-index: 4;
    animation: scanLine 3s ease-out infinite;
}

.navlink:hover .chose::before {
    content: attr(data-word);
    position: absolute;
    top: 0;
    left: 0.5px;
    height: 0px;
    color: rgba(252, 171, 0, 0.9);
    overflow: hidden;
    z-index: 2;
    animation: redShadow 1s ease-in infinite;
    filter: contrast(200%);
    text-shadow: 1px 0 0 #83dc00;
}

.navlink:hover .chose::after {
    content: attr(data-word);
    position: absolute;
    top: 0;
    left: -3px;
    height: 36px;
    color: rgba(252, 171, 0, 0.8);
    overflow: hidden;
    z-index: 3;
    animation: redHeight 1.5s ease-out infinite;
    filter: contrast(200%);
    text-shadow: -1px 0 0 #8355a0;
    mix-blend-mode: darken;
}

@keyframes redShadow {
    20% {
        height: 32px;
    }
    60% {
        height: 6px;
    }
    100% {
        height: 42px;
    }
}

@keyframes redHeight {
    20% {
        height: 42px;
    }
    35% {
        height: 12px;
    }
    50% {
        height: 40px;
    }
    60% {
        height: 20px;
    }
    70% {
        height: 34px;
    }
    80% {
        height: 22px;
    }
    100% {
        height: 0px;
    }
}

@keyframes scanLine {
    8% {
        top: 36px;
    }
    14% {
        top: 8px;
    }
    20% {
        top: 42px;
    }
    32% {
        top: 2px;
    }
    99% {
        top: 30px;
    }
}

@media screen and (min-width: 1080px) {
	nav{
		display: block;
	}
}

#shortInfo{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 15vw;
	margin-bottom: 20vh;
	margin-right: 15vw;
}

@media screen and (max-height: 500px) {
	#shortInfo{
		margin-bottom: 13vh;
	}
}


@media screen and (max-width: 1080px) {
	#shortInfo{
		position: fixed;
	}
}

#intro{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
}

#intro img{
	height: 16vh;
	margin-bottom: 8px;
}

#intro p{
	font-family: EVAUB;
	margin-top: 0;
	margin-bottom: 0;
	color: #a11818;
	text-align: center;
	font-size: 35px;
	line-height: 1.5;
	background-color: #020202;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 8px;
	border-color: #a11818;
	border-style: dashed;
	border-width: 5px;
}

#link{
	margin-top: 15px;
	background-color: #050505;
	border-radius: 8px;
	border-color: #a11818;
	border-style: dashed;
	border-width: 3px;
}

.linkRow a{
	display: inline;
	font-size: 25px;
	line-height: 1.5;
	font-family: EVAUB;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 5px;
	padding-right: 10px;
	color: white;
	line-height: 1.5;
}

.linkRow a:hover{
	background-color: #8355a0;
}

.linkRow img{
	display: inline;
	vertical-align: bottom;
	padding-bottom: 6px;
	width: 30px;
}

.title{
	display: flex;
	margin-left: 20px;
}

.title h1{
	font-size: 30px;
	font-family: EVAUB;
	color: ghostwhite;
	padding-left: 5px;
	padding-right: 5px;
	border-top: 10px solid #a11818;
	border-bottom: 8px solid #a11818;
	border-radius: 2px;
	line-height: 40px;
}

#otherlinks h1{
	border-color: #fcab00;
}

.pages{
	display: flex;
	flex-wrap: wrap;
	padding-left: 60px
}

.onepage{
	--w: 384px;
	--h: 216px;
	margin-bottom: 20px;
}

.onepage{
	margin-right: 45px;
}

.contents{
	width: var(--w);
	max-width: 75vw;
	height: var(--h);
	overflow: hidden;
	display: flex;
	justify-content: end;
	flex-direction: column;
	color: black;
	transition: all 0.5s ease 0s;
	border-radius: 15px;
	box-shadow: 0px 5px 20px rgb(38, 48, 62);
}

.contents:hover{
	transform: scale(1.2);
}

.contentwrap{
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 15px;
}

.contents h2{
	margin: 0;
	margin-left: 10px;
	margin-top: 3px;
	font-family: EVAUB;
	font-size: 20px;
	line-height: 22px;
	color: #a11818;
}

@media screen and (orientation:portrait){
	.contents h2{
		font-size: 16px;
	}
}

.contents p{
	margin: 0;
	margin-left: 10px;
	margin-bottom: 5px;
	font-family: EVADB;
	line-height: 20px;
}

.pageimg{
	width: var(--w);
	max-width: 75vw;
	height: var(--h);
	background-size: var(--w) var(--h);
	background-position: center center;
	position: absolute;
	z-index: -1;
	border-radius: 15px;
	transition: all 0.5s ease 0s;
}

.lanwrap{
	display: flex;
	align-items: baseline;
	line-height: 0;
	margin-top: 7px;
	margin-bottom: 7px;
	font-size: 17px;
	color: black;
}

@media screen and (orientation:portrait){
	.lanwrap{
		font-size: 12px;
		margin-top: 1px;
		margin-bottom: 1px;
	}
}

.dot{
	width: 10px;
	height: 10px;
	border-radius: 5px;
	margin-right: 5px;
	margin-left: 7px;
}

.contents:hover .pageimg{
	transform: scale(1.2);
}

footer{
	display: flex;
	align-items: center;
	justify-content: center;
	scroll-snap-align: start;
	background-color: #020202;
	color: white;
	height: 40px; 
}

footer a p{
	color: white;
	text-decoration: underline;
	margin: 0;
}