@charset "utf-8";
@font-face{
    font-family: 'EVADB';
    src:url('../font/EVADB.otf');
}

@font-face{
    font-family: 'EVAUB';
    src:url('../font/EVAUB.otf');
}

a:link{
	text-decoration:none;
}
a:visited{
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
a:active{
	text-decoration:none;
}

body{
	margin: 0;
}

body::before {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../img/bg.png') no-repeat center top/100%;
    background-size: cover;
}

#profile{
	display: flex;
	justify-content: right;
	height: 100vh;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	margin-bottom: 20px;
}

#profile::before {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../img/head.png') no-repeat;
    background-size: auto 115vh;
	background-position: center center;
}

#shortInfo{
	position: fixed;
	margin-left: 15vw;
	margin-top: 18vh;
	margin-right: 15vw;
}

#intro{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
}

#intro img{
	height: 16vh;
	margin-bottom: 8px;
}

#intro p{
	font-family: EVAUB;
	margin-top: 0;
	margin-bottom: 0;
	color: #a11818;
	text-align: center;
	font-size: 35px;
	line-height: 1.5;
	background-color: #020202;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 8px;
	border-color: #a11818;
	border-style: dashed;
	border-width: 5px;
}

#link{
	margin-top: 15px;
	background-color: #050505;
	border-radius: 8px;
	border-color: #a11818;
	border-style: dashed;
	border-width: 3px;
}

.linkRow a{
	display: inline;
	font-size: 25px;
	line-height: 1.5;
	font-family: EVAUB;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 5px;
	padding-right: 10px;
	color: white;
	line-height: 1.5;
}

.linkRow a:hover{
	background-color: #8355a0;
}

.linkRow img{
	display: inline;
	vertical-align: bottom;
	padding-bottom: 6px;
	width: 30px;
}


.title{
	display: flex;
	margin-left: 20px;
}

.title{
	font-size: 30px;
	font-family: EVAUB;
	color: ghostwhite;
	padding-left: 5px;
	padding-right: 5px;
	border-top: 10px solid #a11818;
	border-bottom: 8px solid #a11818;
	border-radius: 2px;
}