#md{
	background-color: darkorange;
}

#cpp{
	background-color: #f34b7d;
}

#py{
	background-color: #3572a5;
}

#cs{
	background-color: #178600;
}

#html{
	background-color: #e34c26;
}

#css{
	background-color: #563d7c;
}

#js{
	background-color: #f1e05a;
}

#vue{
	background-color: #42b883;
}

#sh{
	background-color: #89e051;
}

#c{
	background-color: #555555;
}

#tsql{
	background-color: #e38c00;
}

#java{
	background-color: #b07219;
}

#unity{
	background-color: #a6a6a6;
}

#matlab{
	background-color: #e16737;
}

#figma{
	background-color: black;
}