#md{
	background-color: darkorange;
}

#cpp{
	background-color: #f34b7d;
}

#py{
	background-color: #3572a5;
}

#cs{
	background-color: #178600;
}

#html{
	background-color: #e34c26;
}

#css{
	background-color: #563d7c;
}

#xml{
	background-color: #3569e3;
}

#js{
	background-color: #f1e05a;
}

#vue{
	background-color: #42b883;
}

#indexeddb{
	background-color: #de4a22;
}

#sh{
	background-color: #89e051;
}

#c{
	background-color: #555555;
}

#qt{
	background-color: #63aa34;
}

#tsql{
	background-color: #e38c00;
}

#mysql{
	background-color: #00648f;
}

#cypher{
	background-color: #f0f016;
}

#neo4j{
	background-color: #94c5f0;
}

#redis{
	background-color: #dc382c;
}

#lua{
	background-color: #00007c;
}

#mdx{
	background-color: #0ddd9f;
}

#dax{
	background-color: #01d1df;
}

#hive{
	background-color: #dfd321;
}

#hadoop{
	background-color: #faed26;
}

#java{
	background-color: #b07219;
}

#springboot{
	background-color: #e5b41e;
}

#jade{
	background-color: #e89520;
}

#unity{
	background-color: #a6a6a6;
}

#matlab{
	background-color: #e16737;
}

#docker{
	background-color: #1c90ed;
}

#otherlang{
	background-color: black;
}
